extends ../shared/template

block content
  h1 Calc: Power

  form#power
    input(type='text', name='num1')
    |  ^
    input(type='text', name='num2')
    button#pow Power

  #resultPow

block scripts
  script(src='/js/es6/compiled/power.js')
